{% extends 'base.html.twig' %}

{% block title %}CA Data Profiles{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {#    {{ encore_entry_script_tags('profile') }}#}
{% endblock %}
{% block content %}

    {% if app.environment == 'dev' %}
        <a href="{{ path(app.request.get('_route'), {reload: true}) }}" class="btn btn-danger"><span class="fas fa-sync"></span> Reload</a>
    {% endif %}

    {{ 'Done'|trans }}

    <table id="profiles-table" class="table table-striped js-profile-table datatable">
        <thead>
        <tr>
            <th>Links</th>
            <th>Langs</th>
            <th>Name</th>
            <th>UIs</th>
            <th>Lists</th>
            <th>Displays</th>
            <th>Elements</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        {% for profile in profiles|default([]) %}
            {% set filename = profile.filename %}
            <tr>
                <td>
                    {#                    <a class="btn btn-primary" href="{{ path('profile_import', profile.rp) }}">Import</a>#}
                    <a target="_blank" href="{{ path('profile_dashboard', profile.rp({_format: 'xml'})) }}"><span class="fas fa-code"></span> </a>
                    {% if profile.infoUrl %}
                        <a target="_blank" href="{{ profile.infoUrl }}"><span class="fas fa-info-circle"></span> </a>
                    {% endif %}
                </td>
                <td>
                    {% for locale in profile.getLocales %}
                        <a href="{{ path('app_homepage', {_locale: locale.attributes.lang}) }}">{{ locale.country }}</a>
                    {% endfor %}
                    {#                    {{ dump(profile.getLocales) }}#}
                </td>
                <td>
                    <a href="{{ path('profile_dashboard', profile.rp) }}">
                        {{ profile.profileName }}
                    </a>
                </td>
                <td>
                    {{ profile.uiCount }}
                </td>
                <td>
                    {{ profile.listCount }}
                </td>
                <td>
                    {{ profile.displayCount }}
                </td>
                <td>
                    {{ profile.mdeCount }}
                </td>
                <td>
                    {{ profile.profileDescription }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
