<div class="row g-0 align-items-center">
    <div class="col-2">
        <div class="notification-icon text-{{ ctx.icon_color | default('primary') }}">
            <i class="{{ ctx.icon | default('mdi mdi-bell-outline') }}"></i>
        </div>
    </div>
    <div class="col-10">
        <div class="{{ isLink ? 'text-primary' : 'text-dark' }}">{{- ctx.title -}}</div>
        {% if ctx.text %}
            <div class="text-muted small mt-1">{{ xmlProfile.profileName }}</div>
        {% endif %}
    </div>
</div>

{#<li>#}
{#    <a href="{{ path('profile_dashboard', xmlProfile.rp) }}">#}
{#        {{ xmlProfile.profileName }}#}
{#    </a>#}
{#</li>#}
